.callout {
  margin-top: 0;
  background: $light-gray;
  border: 1px solid $light-grey-border;

  h3 {
  margin: 0 2rem;
  border-bottom: 1px solid $light-grey-border;
  text-transform:uppercase;
}

  p {
    padding: 0;

    margin: 0 2rem;
    }
    a {
      padding: 0;

      margin: 0 2rem;
      }
}

.page-sub-heading {
  width:100%;
  margin-top: rem-calc(30);
  margin-left: rem-calc(40);
}

dl {
  padding: 0;

  margin: 0 2rem;
  dt {
      border-bottom: 1px solid $light-grey-border;
  }
  }
