/** Off Canvas **/
div.off-canvas {
  height:100%;
background-color:darken($primary-color, 20);
  a, h3 {
    color: $white;
  }
  .is-drilldown-submenu {
    background-color:darken($primary-color, 20);
  }
}


.menu-icon,
.menu-icon:hover {
width:rem-calc(60);
height: rem-calc(36);
margin-top: rem-calc(25);
&::after{
  background-color: black;
  height: rem-calc(8);
  box-shadow: 0 28px 0 black, 0 14px 0 black;
  }
}
